@font-face {
  font-family: "Outfit";
  src: local("Outfit Regular"),
    url("../assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Bold"),
    url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --qr-white: hsl(0, 0%, 100%);
  --qr-light-grey: hsl(212, 45%, 89%);
  --qr-grey: hsl(220, 15%, 55%);
  --qr-dark-navy: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--qr-light-grey);
}

.qr-code {
  width: 32rem;
  border-radius: 2rem;
  background-color: var(--qr-white);
  padding: 1.6rem;
  box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.0477);
}

.qr-code__container {
  width: 100%;
  margin-bottom: 2.4rem;
}

.qr-code__img {
  width: 100%;
  border-radius: 1rem;
}

.qr-code__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2.4rem;
}

.qr-code__description-title {
  text-align: center;
  color: var(--qr-dark-navy);
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  line-height: 1.3;
}

.qr-code__description-text {
  text-align: center;
  color: var(--qr-grey);
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.019rem;
  max-width: 25.6rem;
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
}
